<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <%- include("./partials/error.ejs") %>
    <form action="/create" method="POST">
        <label for="firstName">First Name: </label>
        <input type="text" name="firstName" id="firstName" required>

        <label for="lastName">Last Name: </label>
        <input type="text" name="lastName" id="lastName" required>

        <label for="email">Email: </label>
        <input type="email" name="email" id="email" required>

        <label for="age">Age (optional): </label>
        <input type="number" name="age" id="age">

        <label for="bio">Bio (optional): </label>
        <textarea name="bio" id="bio" placeholder="Bio"></textarea>

        <button type="submit">Submit</button>
    </form>
    <h2>Search for a user:</h2>
    <form action="/search" method="get">
        <label for="existingName">Check Name</label>
        <input type="text" name="existingName" id="existingName">

        <label for="existingEmail">Check Email</label>
        <input type="email" name="existingEmail" id="existingEmail">

        <button type="submit">Search for User</button>
    </form>
    <%- include("./partials/search.ejs") %>
    <a href="/">Home</a>
</body>
</html>